<nav>
    <div class="leftnav">
        <a routerLink="/home" routerLinkActive="activenev" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="/gallary" routerLinkActive="activenev" ariaCurrentWhenActive="page">Gallary</a>
        <a href="#">About us</a>
    </div>
    <div class="centralnav">
        <a href="">Galerie d'Avion</a>
    </div>
    <div class="rightnav">
        <a routerLink="/gallary" ariaCurrentWhenActive="page"><i class="fa-regular fa-magnifying-glass"></i></a>
        <a href="/"><i class="fa-light fa-user"></i></a>
    </div>
</nav>